/***********************************************
 Copyright 2019 Vebjørn Kvisli
 License: GNU Lesser General Public License v3.0
 ***********************************************/


/***********************
ScenarioSelector styles
***********************/
.scenarioSelecter {
  padding: 20px;
  box-shadow: 0px 1px 4px 1px lightgrey;
  margin: 10px;
}

.scenarioParamInput {
  width: 100%;
}

.scenarioParamCategoryHeader {
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 5px;
}

.datePosText {
  font-size: 0.8em;
  color: grey;
  display: inline;
}



/***********************
ScenarioSelectorMobile styles
***********************/
.scenarioSelecterMobile {
  width: 100%;
  margin-bottom: 30px;
  margin-top: 10px;
}



/***********************
Simulation styles
***********************/
.simulation {
  width: 95%;
  float: left;
  margin: 10px;
}



/***********************
PV system styles
***********************/
.pvSystem {
  box-shadow: 0px 1px 4px 1px lightgrey;
  padding: 10px;
  margin-bottom: 20px;
}

.RepeatedSimulationResultRowOdd {
  margin: 5px;
  padding: 5px;
  font-size: 0.8em;
}

.RepeatedSimulationResultRowEven {
  margin: 5px;
  padding: 5px;
  font-size: 0.8em;
  background-color: #f3f3f3;
}


/***********************
Apartment styles
***********************/
.apartmentContainer {
  box-shadow: 0px 1px 4px 1px lightgrey;
  display: inline-block;
  padding: 10px;
}

.apartmentContainerHeader {
  cursor: pointer;
  display: inline-block;
}

.apartmentButtonsContainer {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 10px;
}

.apartment {
  padding: 10px;
  margin: 10px;
  box-shadow: 0px 1px 4px 1px lightgrey;
  cursor: pointer;
  float: left;
  background-color: #eeeeee;
  transition: box-shadow 0.2s;

  animation: fadein 0.2s;
  -moz-animation: fadein 0.2s; /* Firefox */
  -webkit-animation: fadein 0.2s; /* Safari and Chrome */
  -o-animation: fadein 0.2s; /* Opera */
}

.apartment:hover{
  box-shadow: 0px 1px 4px 3px lightgrey;
}

.aptHeader {
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}

.aptRemoveIcon {
  float: right;
  margin-top: 10px;
}

.aptRemoveIcon:hover {
  color: red;
}

.applianceRow img {
  vertical-align: middle;
  margin-right: 10px;
}

.applianceDialogRow img {
  vertical-align: bottom;
  margin-right: 20px;
}

.applianceDialogRow {
  margin-bottom: 30px;
  margin-top: 30px;

  animation: fadein 0.5s;
  -moz-animation: fadein 0.5s; /* Firefox */
  -webkit-animation: fadein 0.5s; /* Safari and Chrome */
  -o-animation: fadein 0.5s; /* Opera */
}

.applianceRunTimePeriod {
  color: grey;
  font-size: 0.7em;
  float: right;
}

.applianceRunProgram {
  display: inline;
}

.applianceRow {
  margin-bottom: 5px;
  border-bottom: 1px solid lightgrey;
}

.aptDialogInput {
  display: inline-block;
  margin-right: 20px;
}

.removeApplianceRun {
  float: right;
  margin-top: 15px;
}

.removeApplianceRun:hover {
  color: red;
  cursor: pointer;
}

.noARmessage {
  color: grey;
  font-size: 0.7em;
}

.aptBottomLeftInfo {
  float: left;
  margin-top: 10px;
}


/***********************
Animations
***********************/

/* Fade in */

@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from { opacity: 0; }
  to { opacity: 1; }
}

@-o-keyframes fadein {
  /* Opera */
  from { opacity: 0; }
  to { opacity: 1; }
}

@-moz-keyframes fadein {
  /* Firefox */
  from { opacity: 0; }
  to { opacity: 1; }
}
